body
{
	background-color: rgba(67,171,152,0.3);
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 1090%;
	font: 16px white Georgia;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;  
  width: 100%;
}

.invalid
{
	border-color: red;
}

#BaconFinder
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
	width: 20%;/*20%*/
    height: 648px;/*75%*/
    display:inline-block;
	margin: 2%;
	overflow: auto;
}

#content, #content2
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
    position: absolute;
    height: 75%;
    width: 80%;/*70*/
    top: 64px;/*60px*/
    left: 100px;/*300px*/
	margin: 2%;	
    display:inline-block;
	
}

#sugForm
{
	position: relative;
	top: -30px;
	margin-left: 40%;
}

#suggest
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
	height: 85%;
	position: relative;
	top: 80px;
    width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#log
{
	position: relative;
	top: 200px;
	margin-left: 35%;		
}

#feedbackF
{
	position: relative;
	top: -20px;
	margin-left: 30%;	
}

#feedback
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
	position: relative;
	top:80px;
	height: 85%;
    width: 70%;
	margin-left: auto;
	margin-right: auto;

}

#feedbackText
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
	height: 50%;
    width: 70%;
}

#adminBack
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
	height: 80%;/*858*/
    width: 70%;
    position: absolute;
    left: 150px;
    top: 90px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

#adminBack form
{
	text-align: center;

}

#adminBack h2
{
	text-align: center;

}

#aboutContent
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
	position: absolute;
	left: 100px;
	top: 100px;
	height: 75%;
	overflow: auto;
    width: 85%;
	margin-left: auto;
	margin-right: auto;
}

#content form {
    postion:Absolute;
    width:70%;
    top:0;
}

#restaurant-list {
    width:350px;
    position: relative;
    margin-top: 20px;
    left: 20px;/*wasn't*/
    height:400px;
    overflow:auto;
    display:inline-block;
}

#restaurant-details {
    position: absolute;
    width: 60%;/*400*/
    height:450px;
    margin-top :20px;
    top: 0px;
    left: 430px; /*wan't*/
    display:inline-block;
    overflow:auto;

}

#details {
    overflow:hidden;
}


#googleMap
{
	width: 90%;
	height: 350px;
	border-width: 1px;
	border-style: solid;
    overflow:hidden;
	margin-left: 5%;
}

.result
{
	width: 150px;
    height: 150px;
	cursor: pointer;
    border: 1px solid black;
}

.memberImage
{
	max-width: 100px;
	max-height: 100px;
	border-radius: 5px;
}

.member
{
	top: -120px;
	left: 130px;
}

#loginForm
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
    position: absolute;
    top: 50px;
    height: 82%;
    width: 70%;
    left: 200px;
	margin: 2%;	
    display:inline-block;
}

#menuLogo
{
	height: 46px;
}

#help
{
	/*margin-left: 40.5%;*/
	float: right;
	right: 0%;	
}

/*Navigation*/
#nav 
{
	background: #244F66;
	float: left;
	margin: 0; 
	/*margin-left:35%;*/
	padding: 0;
	border-bottom: none;
	position:relative;
	z-index:1000;
	background: -moz-linear-gradient(top, black, silver 1px, #7D9DAD 30px);/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left 30, from(#aee0fa), color-stop(10%, silver), to(#7D9DAD));/*chrome + Safari4+*/
	background: -webkit-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee0fa', endColorstr='#285870',GradientType=0 ); /* IE6-8 */
	border-right: 1px solid black;
	border-left: 1px solid #244F66;
	border-bottom: 2px solid #244F66;
	border-top: 1px solid #244F66;
	width: 100%;
}

#NavBack
{
	padding: 0;
	color: #FFFFFF;
	float: left;
	width: 100%;
}

#nav li a  
{
	float: left;
}

#nav li 
{
	float: left;	
	list-style: none;
	position: relative;
}

#nav li a ,#help li
{
	padding: 0.65em 1em;
	color: #FFFFFF;
	background: #aee0fa;
	background: -moz-linear-gradient(top, black, silver 1px, #7D9DAD 30px);/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left 30, from(#aee0fa), color-stop(10%, silver), to(#7D9DAD));/*chrome + Safari4+*/
	background: -webkit-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee0fa', endColorstr='#285870',GradientType=0 ); /* IE6-8 */
	border-right: 1px solid silver;
	border-left: 1px solid #244F66;
	border-bottom: 1px solid #244F66;
	border-top: 1px solid #244F66;
	font: 19px white Georgia;	
}

#nav a:link 
{
    text-decoration: none;
}

#nav li a:hover {
	padding: 0.65em 1em;
	color: #FFFFFF;
	background: #A5F2E4;
	background: -moz-linear-gradient(top, #A5F2E4, silver 1px, #369C89 30px);/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left 30, from(#A5F2E4), color-stop(10%, #2B8776), to(#369C89));/*chrome + Safari4+*/
	background: -webkit-linear-gradient(top, #A5F2E4 0%,#287063 46%,#287063 50%,#2D7D6E 53%,#2B8776 75%,#43AB98 87%,#369C89 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #A5F2E4 0%,#287063 46%,#287063 50%,#2D7D6E 53%,#2B8776 75%,#43AB98 87%,#369C89 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #A5F2E4 0%,#287063 46%,#287063 50%,#2D7D6E 53%,#2B8776 75%,#43AB98 87%,#369C89 100%); /* IE10+ */
	background: linear-gradient(to bottom, #A5F2E4 0%,#287063 46%,#287063 50%,#2D7D6E 53%,#2B8776 75%,#43AB98 87%,#369C89 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A5F2E4', endColorstr='#369C89',GradientType=0 ); /* IE6-8 */
	border-right: 1px solid silver;
	border-left: 1px solid #287063;
	border-bottom: 1px solid #287063;
	border-top: 1px solid #287063;
	font: 19px white Georgia;
}

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul
{
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	padding: 0; margin: 0;
}

#nav li:hover > ul 
{
	display: block;
}

#help li
{
	right: 200%;
	width: 210%;
}

#nav li ul li, #nav li ul li a 
{
	float: none;
}

#nav li ul li
{
	_display: inline;
}

#nav li ul li a 
{
	width: 150px;
	display: block;
}

#nav li ul li ul
{
	display: none;
}

#nav li ul li:hover ul 
{
	left: 100%;
	top: 0;
}
/*endOfNav*/

.label {
    font-weight: bold;
}

.label:after {
content:":"
}

.detail-logo {
    width: 200px;/*300*/
    max-height: 200px;/*wasn't*/
    margin: auto;
    clear: both;
    display:block;
}

#google-map, #details {
    display:inline-block;
}


.logo {
    max-width: 95%;
    max-height: 60%;
    margin: auto;
}

.result {
    cursor: pointer;
    display:inline-block;
    overflow:hidden;
    text-align:center;
}

#back
{
	color: #FFFFFF;
	background: #aee0fa;
	background: -moz-linear-gradient(top, black, silver 1px, #7D9DAD 30px);/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left 30, from(#aee0fa), color-stop(10%, silver), to(#7D9DAD));/*chrome + Safari4+*/
	background: -webkit-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee0fa', endColorstr='#285870',GradientType=0 ); /* IE6-8 */
	border-right: 1px solid silver;
	border-left: 1px solid #244F66;
	border-bottom: 1px solid #244F66;
	border-top: 1px solid #244F66;
	font: 19px white Georgia;	
	border-radius: 10px;
	padding: 0.2em 0.5em;
}

#infoText
{
	position: relative;
	margin-left: 35%;
}

#info
{
	background-color: rgba(67,171,152,0.3);
	padding: 10px;
	border-radius: 20px;
	position: relative;
	top:80px;
	height: 85%;
    width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#search
{
	position: relative;
	margin-top: 35px;
	margin-left: 35%;	
}

#submitSearch, #closeR, .accept, .deny
{
	color: #FFFFFF;
	background: #aee0fa;
	background: -moz-linear-gradient(top, black, silver 1px, #7D9DAD 30px);/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left 30, from(#aee0fa), color-stop(10%, silver), to(#7D9DAD));/*chrome + Safari4+*/
	background: -webkit-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee0fa', endColorstr='#285870',GradientType=0 ); /* IE6-8 */
	border-right: 1px solid silver;
	border-left: 1px solid #244F66;
	border-bottom: 1px solid #244F66;
	border-top: 1px solid #244F66;
	font: 19px white Georgia;	
	border-radius: 10px;
	padding: 0.2em 0.5em;
	margin-top: 1%;
}

.buttons
{
	color: #FFFFFF;
	background: #aee0fa;
	background: -moz-linear-gradient(top, black, silver 1px, #7D9DAD 30px);/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left 30, from(#aee0fa), color-stop(10%, silver), to(#7D9DAD));/*chrome + Safari4+*/
	background: -webkit-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* IE10+ */
	background: linear-gradient(to bottom, #aee0fa 0%,#244F66 46%,#244F66 50%,#255169 53%,#355A6E 75%,#466F85 87%,#285870 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aee0fa', endColorstr='#285870',GradientType=0 ); /* IE6-8 */
	border-right: 1px solid silver;
	border-left: 1px solid #244F66;
	border-bottom: 1px solid #244F66;
	border-top: 1px solid #244F66;
	font: 19px white Georgia;	
	border-radius: 10px;
	padding: 0.2em 0.5em;
	margin-top: 1%;
}