*
{
	position: relative;
	margin: 5px;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li 
{
	display: inline;
	width: 60px;
}

#BaconFinder
{
    position: : absolute;
	width: 250px;
    height:600px;
    display:inline-block;
    margin: 5px;
}

#content
{
    position: absolute;
    height: 400px;
    width: 800px;
    top: 60px;
    left: 300px;
    display:inline-block;
}

#content form {
    postion:Absolute;
    width:70%;
    top:0;
}

#restaurant-list {
    width:350px;
    height:400px;
    overflow:auto;
    display:inline-block;
    border : 2px solid black;

}

#restaurant-details {
    position: absolute;
    width: 400px;
    height:600px;
    top: 0px;
    display:inline-block;
    border : 2px solid black;
    overflow:auto;
}

#details {
    overflow:hidden;
}


#googleMap
{
	width: 350px;
	height: 350px;
	border-width: 1px;
	border-style: solid;
    overflow:hidden;
}

#information
{
	//width: 200px;
	//height: 450px;
	//left: 250px;
	//top: 0px;//-370px;
}

.result
{
	width: 150px;
    height: 150px;

	cursor: pointer;
    border: 1px solid black;

}

.memberImage
{
	width: 100px;
	height: 100px;
}

.member
{
	top: -120px;
	left: 130px;
}

#menuLogo
{
	height: 50px;
}

#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}


.label {
    font-weight: bold;
}

.label:after {
content:":"
}

.detail-logo {
    width: 300px;
    margin: auto;
    clear: both;
    display:block;
}

#google-map, #details {
    display:inline-block;
}


.logo {
    max-width: 95%;
    max-height: 60%;
    margin: auto;
}

.result {
    cursor: pointer;
    display:inline-block;
    overflow:hidden;
    text-align:center;
}

#navBack
{
    top: -40px;
}

#navBack ul li img 
{
    top: 40px;
}